*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* scrollbar-width: thin; */
  scrollbar-color: #eaeaea transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  /* overflow-y: auto; */
}

#root {
  height: inherit;
}

.cs-navbar {
  padding: 16px;
  box-shadow: 0 2px 8px #f0f1f2;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white
}

.cs-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.ql-editor {
  min-height: 200px;
}

/* ANCHOR align */
.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}

/* ANCHOR indent */
.ql-indent-1 {
  padding-left: 40px;
}

.ql-indent-2 {
  padding-left: 80px;
}

.ql-indent-3 {
  padding-left: 120px;
}

.ql-indent-4 {
  padding-left: 160px;
}

.ql-indent-5 {
  padding-left: 200px;
}

.ql-indent-6 {
  padding-left: 240px;
}

/* ANCHOR blog-content */
.cs-blog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin-inline: auto;
}

.cs-blog-content img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}


/* .cs-blog-content>*:not(li) {
  margin-bottom: 10px;
} */